{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-role">
    <div class="ec-newItemRole">
        <div class="ec-newItemRole__list">
            <div class="ec-newItemRole__listItem">
                <div class="ec-newItemRole__listItemHeading ec-secHeading--tandem">
                    <span class="ec-secHeading__en">CROIRE SERIES</span>
                    <span class="ec-secHeading__line"></span>
                    <span class="ec-secHeading__ja">クロワールシリーズ</span>
                    <a class="ec-inlineBtn--top" href="{{ url('product_list') }}">{{ 'more'|trans }}</a>
                </div>
            </div>
            <div class="ec-newItemRole__listItem">
                <a href="{{ url('product_detail', {'id': '28'}) }}">
                    <img src="{{ asset('0917203639_5d80c547be535.png', 'save_image') }}">
                    <p class="ec-newItemRole__listItemTitle">{{ 'プレミアムクロワール茶'|trans }}</p>
                    <p class="ec-newItemRole__listItemPrice">{{ '￥1,188(税込)'|trans }}</p>
                </a>
            </div>
            <div class="ec-newItemRole__listItem">
                <a href="{{ url('product_detail', {'id': '44'}) }}">
                    <img src="{{ asset('0520114425_5ce2148982ad7.png', 'save_image') }}">
                    <p class="ec-newItemRole__listItemTitle">{{ '緑のDHA&EPA+ゴールデンユーグレナ'|trans }}</p>
                    <p class="ec-newItemRole__listItemPrice">{{ '￥1,350(税込)'|trans }}</p>
                </a>
            </div>
            <div class="ec-newItemRole__listItem">
                <a href="{{ url('product_detail', {'id': '40'}) }}">
                    <img src="{{ asset('0520114353_5ce214698444a.png','save_image') }}">
                    <p class="ec-newItemRole__listItemTitle">{{ 'クロワールアイ・プロ'|trans }}</p>
                    <p class="ec-newItemRole__listItemPrice">{{ '￥1,990(税込)'|trans }}</p>
                </a>
            </div>
        </div>
    </div>
</div>