{#
/*
 * This file is part of the Flash Sale plugin
 *
 * Copyright(c) ECCUBE VN LAB. All Rights Reserved.
 *
 * https://www.facebook.com/groups/eccube.vn
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}
{% macro tree(Category) %}
    {% import _self as selfMacro %}
    <li class="c-directoryTree--registerItem category-li">
        <input id="product-category-{{ Category.id }}" type="checkbox" name="productCategoryId[]" value="{{ Category.id }}">
        <label for="product-category-{{ Category.id }}">{{ Category.name }}</label>
        <ul class="list-unstyled">
            {% for child,ChildCategory in Category.children %}
                {{ selfMacro.tree(ChildCategory) }}
            {% endfor %}
        </ul>
    </li>
{% endmacro %}

<div class="c-directoryTree--register rounded border mb-3 p-3">
    {% import _self as renderMacro %}
    {% for Category in Categories %}
        <ul class="list-unstyled">
            {{ renderMacro.tree(Category) }}
        </ul>
    {% endfor %}
</div>