{% for c in pagination %}
    <div class="asc_btn_{{ loop.index }}" >
        {% if c.id and c.Status.id == constant('Eccube\\Entity\\Master\\CustomerStatus::ACTIVE') %}
            {% set login_url = url('plg_admin_support_customer_login', { 'id' : c.id }) %}
            <button id="asc_btn_id_{{ c.id }}" type="button" data-url="{{ login_url }}" data-style="expand-right" class="btn btn-ec-conversion asc_btn">{{ 'admin_support_customer_login.button'|trans }}</button>
        {% else %}
            {{ c.Status.name }}
        {% endif %}
    </div>
{% endfor %}

<script>
    $(function () {
        // 一覧へのボタン追加
        $('table tr').each(function(i) {
           if(i != 0) {
               // 一覧追加
               $elem = $('.asc_btn_' + i);
               $('td:eq(1)', this).after('<td class="align-middle">' + $elem.html() + '</td>');
               $elem.remove();
           } else {
               $('th:eq(1)', this).after('<th class="border-top-0 pt-2 pb-3"> </th>');
           }
        });

        // 代理ログイン
        $('.asc_btn').on('click', function () {

            $login_url = $(this).data('url');
            window.open($login_url, '_blank');
        })
    });
</script>
