{#
RepeatCube for EC-CUBE4
Copyright(c) 2019 IPLOGIC CO.,LTD. All Rights Reserved.

http://www.iplogic.co.jp/

This program is not free software.
It applies to terms of service.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'IplPeriodicPurchase' %}

{% set body_class = 'mypage' %}

{% block main %}
    <div class="ec-layoutRole__main">
        <div class="ec-mypageRole">
            <div class="ec-pageHeader">
                <h1>{{ 'マイページ'|trans }}/{{ '定期一覧'|trans }}</h1>
            </div>
            {% include 'Mypage/navi.twig' %}
        </div>

        <div class="ec-mypageRole">
            {% if pagination.totalItemCount > 0 %}
                <p class="ec-para-normal">{{ '%count%件の履歴があります'|trans({'%count%':pagination.totalItemCount}) }}</p>
                {% for PeriodicPurchase in pagination %}
                    <div class="ec-historyRole">
                        <div class="ec-historyRole__contents">

                            <div class="ec-historyRole__header">
                                <div class="ec-historyListHeader">
                                    <p class="ec-historyListHeader__date">{{ PeriodicPurchase.create_date|date_sec }}</p>
                                    <dl class="ec-definitions">
                                        <dt>{{ 'ご注文番号'|trans }}</dt>
                                        <dd>{{ PeriodicPurchase.id }}</dd>
                                    </dl>
                                    <dl class="ec-definitions">
                                        <dt>{{ 'ご注文状況'|trans }}</dt>
                                        <dd>{{ PeriodicPurchase.PeriodicStatus }}</dd>
                                    </dl>
                                    <dl class="ec-definitions">
                                        <dt>{{ '発送予定日'|trans }}</dt>
                                        <dd>{{ PeriodicPurchase.shipping_date|date_day_with_weekday }}</dd>
                                    </dl>
                                    <dl class="ec-definitions">
                                        <dt>{{ '次回発送予定日'|trans }}</dt>
                                        <dd>{{ PeriodicPurchase.next_shipping_date|date_day_with_weekday }}</dd>
                                    </dl>
                                    <p class="ec-historyListHeader__action"><a class="ec-inlineBtn"
                                                                               href="{{ url('ipl_periodic_purchase_history', {'periodic_purchase_id': PeriodicPurchase.id}) }}">{{ '詳細を見る'|trans }}</a>
                                    </p>
                                </div>
                            </div>
                            <div class="ec-historyRole__detail">
                                {% for PeriodicPurchaseItem in PeriodicPurchase.MergedProductPeriodicItems %}
                                    <div class="ec-imageGrid">
                                        <div class="ec-imageGrid__img">
                                            {% if PeriodicPurchaseItem.Product is null %}
                                                <img src="{{ asset(''|no_image_product, 'save_image') }}"/>
                                            {% else %}
                                                <img src="{{ asset(PeriodicPurchaseItem.Product.MainListImage|no_image_product, 'save_image') }}">
                                            {% endif %}
                                        </div>
                                        <div class="ec-imageGrid__content">
                                            <p class="ec-historyRole__detailTitle">{{ PeriodicPurchaseItem.product_name }}</p>
                                            {% if PeriodicPurchaseItem.class_category_name1 is not empty %}
                                                {{ PeriodicPurchaseItem.class_category_name1 }}
                                            {% endif %}
                                            {% if PeriodicPurchaseItem.class_category_name1 is not empty %}
                                                / {{ PeriodicPurchaseItem.class_category_name2 }}
                                            {% endif %}
                                            <p class="ec-historyRole__detailPrice">{{ PeriodicPurchaseItem.price_inc_tax|price }}
                                                × {{ PeriodicPurchaseItem.quantity }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="ec-pagerRole">
                    {% include "pager.twig" with {'pages': pagination.paginationData} %}
                </div>
            {% else %}
                <p class="ec-para-normal">{{ 'ご注文履歴はありません。'|trans }}</p>
            {% endif %}

        </div>
    </div>
{% endblock %}
