{#
RepeatCube for EC-CUBE4
Copyright(c) 2019 IPLOGIC CO.,LTD. All Rights Reserved.

http://www.iplogic.co.jp/

This program is not free software.
It applies to terms of service.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'IplPeriodicPurchase' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block main %}
    <div class="ec-layoutRole__main">
        <div class="ec-mypageRole">
            <div class="ec-pageHeader">
                <h1>{{ 'マイページ'|trans }}/{{ '次回お届け予定日変更'|trans }}</h1>
            </div>
            {% include 'Mypage/navi.twig' %}
        </div>

        {% include '@IplPeriodicPurchase/mypage/periodic_navi.twig' %}

        <div class="ec-mypageRole">
            <div class="ec-editRole">
                <div class="ec-off1Grid">
                    <div class="ec-off1Grid__cell">
                        <form method="post" action="{{ url('ipl_periodic_purchase_next_shipping', {'periodic_purchase_id': PeriodicPurchase.id}) }}" novalidate class="h-adr">
                            {{ form_widget(form._token) }}
                            <div class="ec-borderedDefs">
                                <dl>
                                    <dt>
                                        {{ form_label(form.next_shipping_date, '次回お届け予定日', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-birth{{ has_errors(form.next_shipping_date) ? ' error'}}">
                                            {{ form_widget(form.next_shipping_date, { 'attr': { 'class': 'control' }}) }}
                                            {{ form_errors(form.next_shipping_date) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        {{ form_label(form.next_shipping_date, '次回お届け時間', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-birth{{ has_errors(form.DeliveryTime) ? ' error'}}">
                                            {{ form_widget(form.DeliveryTime, { 'attr': { 'class': 'control' }}) }}
                                            {{ form_errors(form.DeliveryTime) }}
                                        </div>
                                    </dd>
                                </dl>
                            </div>

                            <div class="ec-RegisterRole__actions">
                                <div class="ec-off4Grid">
                                    <div class="ec-off4Grid__cell">
                                        <button type="submit"
                                                class="ec-blockBtn--cancel">{{ '登録する'|trans }}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
