{#
/*
 * This file is part of the Flash Sale plugin
 *
 * Copyright(c) ECCUBE VN LAB. All Rights Reserved.
 *
 * https://www.facebook.com/groups/eccube.vn
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['product', 'flash_sales_admin'] %}


{% block title %}{{ 'flash_sale.admin.form.title'|trans }}{% endblock %}
{% block sub_title %}{{ 'flash_sale.admin.form.title.sub'|trans }}{% endblock %}

{% form_theme searchProductModalForm '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}
{% form_theme form '@FlashSale/admin/form/bootstrap_4_horizontal_layout_customize_form_errors.html.twig' %}

{% block stylesheet %}
    <style>
        .findConditionsIds {
            cursor: pointer;
        }

        .findConditionsIds span {
            border-radius: 0.25rem !important;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        .mdAddCondition table thead th:nth-child(1) {
            min-width: 70px;
        }

        .mdAddCondition table thead th:nth-child(3) {
            min-width: 250px;
        }
    </style>
{% endblock stylesheet %}

{% block javascript %}
    <script src="{{ asset('FlashSale/assets/js/rule.js', 'plugin') }}"></script>
    <script src="{{ asset('FlashSale/assets/js/conditions.js', 'plugin') }}"></script>
    <script>
        $(function () {
            $('#ruleForm').initRulePanel({
                setup: JSON.parse('{{ metadata|json_encode|raw }}')
            });

            Condition.init({
                admin_order_search_product: '{{ url('admin_order_search_product') }}',
                msg_unselected_class: '{{ 'admin.product.unselected_class'|trans }}'
            });
        });
    </script>
{% endblock %}

{% block main %}
    <form role="form" class="form-horizontal" name="form1" id="form1" method="post" action="?">
        {{ form_widget(form._token) }}
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    <span class="card-title">{{ 'flash_sale.admin.form.information'|trans }}</span>
                                </div>
                                <div class="col-4 text-right">
                                    <a data-toggle="collapse" href="#newsForm" aria-expanded="true"
                                       aria-controls="newsForm"><i class="fa fa-lg fa-angle-up"></i></a></div>
                            </div>
                        </div>
                        <div class="ec-cardCollapse collapse show" id="newsForm" style="">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3"><span>{{ 'flash_sale.admin.form.name'|trans }}</span></div>
                                    <div class="col mb-2">
                                        {{ form_widget(form.name) }}
                                        {{ form_errors(form.name) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-3"><span>{{ 'flash_sale.admin.list.time.start'|trans }}</span></div>
                                    <div class="col mb-2">
                                        {{ form_widget(form.from_time) }}
                                        {{ form_errors(form.from_time) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-3"><span>{{ 'flash_sale.admin.list.time.end'|trans }}</span></div>
                                    <div class="col mb-2">
                                        {{ form_widget(form.to_time) }}
                                        {{ form_errors(form.to_time) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block" data-tooltip="true" data-placement="top"
                                             title="{{ 'flash_sale.admin.form.note.tooltip'|trans }}">
                                            <span>{{ 'flash_sale.admin.form.note'|trans }}</span><i
                                                    class="fa fa-question-circle fa-lg ml-1"></i>
                                        </div>
                                    </div>
                                    <div class="col mb-2">
                                        {{ form_widget(form.description) }}
                                        {{ form_errors(form.description) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    <span class="card-title">{{ 'flash_sale.admin.form.rule.box'|trans }}</span></div>
                                <div class="col-4 text-right">
                                    <a data-toggle="collapse" href="#ruleForm" aria-expanded="true"
                                       aria-controls="ruleForm"><i class="fa fa-lg fa-angle-up"></i></a></div>
                            </div>
                        </div>
                        <div class="ec-cardCollapse collapse show" id="ruleForm">
                            <input type="hidden" id="conditionData" value="{{ conditionData }}">
                            <div class="card-body">
                                <div class="row justify-content-start mb-2">
                                    <div class="col-auto">
                                        <a class="btn btn-ec-regular mr-2 add" data-bind="addRule">{{ 'flash_sale.admin.form.rule.add'|trans }}</a>
                                    </div>
                                    <div class="col-auto pt-1 pl-0">
                                        {{ form_widget(form.rules) }}
                                        {{ form_errors(form.rules) }}
                                    </div>
                                </div>
                                <table class="table table-striped table-sm mb-0">
                                    <thead class="table-active">
                                    <tr>
                                        <th width="50%">{{ 'flash_sale.admin.edit.setting.rule'|trans }}</th>
                                        <th width="45%">{{ 'flash_sale.admin.form.rule.condition'|trans }}</th>
                                        <th width="5%"></th>
                                    </tr>
                                    </thead>
                                    <tbody data-container="rule">
                                    <tr class="d-none pb-5" data-template="rule">
                                        <td class="pt-2">
                                            <div class="row mb-2">
                                                <div class="col-3 col-lg-2 pt-1">{{ 'flash_sale.admin.form.rule.type'|trans }}</div>
                                                <div class="col-auto">
                                                    <input type="hidden" name="rule[id]">
                                                    <select class="form-control" name="rule[type]"
                                                            data-bind="changeRule"></select>
                                                </div>
                                            </div>

                                            <div class="row promotion">
                                                <div class="col-3 col-lg-2 pr-0 pt-1">{{ 'flash_sale.admin.form.rule.promotion'|trans }}</div>
                                                <div class="col-9 col-lg-10">
                                                    <div class="row">
                                                        <div class="col-auto mb-2 pr-0">
                                                            <input type="hidden" name="promotion[id]">
                                                            <select class="form-control" name="promotion[type]"></select>
                                                        </div>
                                                        <div class="col-auto mb-2">
                                                            <input class="form-control" name="promotion[value]">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-3 col-lg-2 pr-0 pt-1">{{ 'flash_sale.admin.form.rule.operator'|trans }}</div>
                                                <div class="col-auto">
                                                    <select class="form-control" name="rule[operator]"></select>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="condition pt-2">
                                            <a class="btn btn-ec-regular mr-2 add" data-bind="addCondition">{{ 'flash_sale.admin.form.rule.condition.add'|trans }}</a>
                                            <div data-container="condition">
                                                <div class="d-none" data-template="condition">
                                                    <div class="row">
                                                        <div class="col-auto pr-0 mt-2">
                                                            <input type="hidden" name="condition[id]">
                                                            <select class="form-control"
                                                                    name="condition[type]"></select>
                                                        </div>
                                                        <div class="col-auto mt-2 pr-0">
                                                            <select class="form-control"
                                                                    name="condition[operator]"></select>
                                                        </div>
                                                        <div class="col-auto pr-0 mt-2">
                                                            <div class="input-group">
                                                                <input type="hidden" class="form-control" name="condition[value]">
                                                                <div class="input-group-append findConditionsIds">
                                                                    <span class="input-group-text" title="Click to add product">&nbsp;<i class="fa fa-cube fa-fw"></i>&nbsp; </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-2 mt-2">
                                                            <a class="btn btn-ec-regular mr-2 add"
                                                               data-bind="removeCondition">{{ 'flash_sale.admin.form.remove'|trans }}</a>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-2">
                                                        <div class="col-10">
                                                            <ul class="nameList mb-2 pl-0"></ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <a class="btn btn-ec-regular mr-2 add" data-bind="removeRule">{{ 'flash_sale.admin.form.remove'|trans }}</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="mdAddCondition modal fade" id="addProduct" tabindex="-1" role="dialog"
                                     aria-labelledby="addProduct" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">{{ 'admin.order.add_product_item'|trans }}</h5>
                                                <button class="close" type="button" data-dismiss="modal"
                                                        aria-label="Close"><span aria-hidden="true">×</span></button>
                                            </div>
                                            <div class="modal-body">
                                                {{ form_widget(searchProductModalForm.id, { attr : {'class': 'mb-3', 'placeholder': 'admin.product.multi_search_label' }}) }}
                                                {{ form_widget(searchProductModalForm.category_id) }}
                                                <button type="button" id="searchProductModalButton"
                                                        class="btn btn-ec-conversion px-5 mb-4 mt-2">{{ 'admin.common.search'|trans }}</button>
                                                <div class="searchDataModalList"></div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-ec-conversion" type="button" data-dismiss="modal">{{ 'common.ok'|trans }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mdAddCondition modal fade" id="addProductCategory"
                                     data-url="{{ url('flash_sale_admin_get_category') }}" tabindex="-1" role="dialog"
                                     aria-labelledby="addProduct" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">{{ 'flash_sale.admin.form.add_product_category'|trans }}</h5>
                                                <button class="close" type="button" data-dismiss="modal"
                                                        aria-label="Close"><span aria-hidden="true">×</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="searchDataModalList"></div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-ec-conversion" type="button" data-dismiss="modal">{{ 'common.ok'|trans }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="c-conversionArea">
                    <div class="c-conversionArea__container">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-6">
                                <div class="c-conversionArea__leftBlockItem">
                                    <a class="c-baseLink" href="{{ url('flash_sale_admin_list') }}">
                                        <i class="fa fa-backward" aria-hidden="true"></i>
                                        <span>{{ 'flash_sale.admin.form.back.to.flash_sale.list'|trans }}</span></a>
                                </div>
                            </div>
                            <div class="col-6">
                                <div id="ex-conversion-action" class="row align-items-center justify-content-end">
                                    <div class="col-auto">
                                        {{ form_widget(form.status) }}
                                        {{ form_errors(form.status) }}
                                    </div>
                                    <div class="col-auto">
                                        <button class="btn btn-ec-conversion px-5"
                                                type="submit">{{ 'admin.common.registration'|trans }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
