{#
RepeatCube for EC-CUBE4
Copyright(c) 2019 IPLOGIC CO.,LTD. All Rights Reserved.

http://www.iplogic.co.jp/

This program is not free software.
It applies to terms of service.
#}
{% extends 'default_frame.twig' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% set mypageno = 'IplPeriodicPurchase' %}

{% block main %}
    <div class="ec-layoutRole__main">
        <div class="ec-mypageRole">
            <div class="ec-pageHeader">
                <h1>{{ 'マイページ'|trans }}/{{ '定期受注スキップ'|trans }}</h1>
            </div>
            {{ include('Mypage/navi.twig') }}
        </div>

        {% include '@IplPeriodicPurchase/mypage/periodic_navi.twig' %}

        <div class="ec-withdrawRole">
            <form method="post" action="?">
                {{ form_widget(form._token) }}
                <div class="ec-off3Grid">
                    <div class="ec-off3Grid__cell">
                        <div style="font-size:100px;text-align:center;">
                            <div class="ec-icon"><img src="{{ asset('assets/icon/exclamation.svg') }}" alt=""></div>
                        </div>
                        <p class="ec-withdrawRole__title">{{ 'スキップ手続きの前にご確認ください'|trans }}
                        </p>
                        <p class="ec-withdrawRole__description">{{ 'スキップした場合の次回お届け予定日は「%next_shipping_date%」となります。'|trans({ '%next_shipping_date%': next_shipping_date|date_day_with_weekday }) }}
                        </p>
                    </div>
                </div>
                <div class="ec-off4Grid">
                    <div class="ec-off4Grid__cell">
                        <button type="submit" class="cta ec-blockBtn--cancel" name="mode"
                                value="confirm">{{ 'スキップする'|trans }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
