{#
RepeatCube for EC-CUBE4
Copyright(c) 2019 IPLOGIC CO.,LTD. All Rights Reserved.

http://www.iplogic.co.jp/

This program is not free software.
It applies to terms of service.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['periodic_purchase', 'periodic_admin_cycle'] %}

{% block title %}{{ 'ipl_periodic_purchase.admin.cycle.title'|trans }}{% endblock %}
{% block sub_title %}{{ 'admin.order.order_management'|trans }}{% endblock %}

{% block stylesheet %}
    <style type="text/css">
        li.list-group-item {
            z-index: inherit !important;
        }
        .edit {
            display: none;
        }

        .has-error .list {
            display: none;
        }

        .has-error .edit {
            display: block;
        }
    </style>
{% endblock %}

{% block javascript %}
<script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.core.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.widget.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.mouse.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.sortable.min.js', 'admin') }}"></script>
    <script>
        $(function() {

            // 初期表示時のsort noを保持.
            var oldSortNos = [];
            $('.sortable-item').each(function() {
                oldSortNos.push(this.dataset.sortNo);
            });
            oldSortNos.sort(function(a, b) {
                return a - b;
            }).reverse();

            // 並び替え後にsort noを更新
            var updateSortNo = function() {
                var newSortNos = {};
                var i = 0;
                $('.sortable-item').each(function() {
                    newSortNos[this.dataset.id] = oldSortNos[i];
                    i++;
                });

                $.ajax({
                    url: '{{ url('periodic_admin_cycle_sort_no_move') }}',
                    type: 'POST',
                    data: newSortNos
                }).always(function() {
                    $(".modal-backdrop").remove();
                });
            };

            // 最初と最後の↑↓を再描画
            var redrawDisableAllows = function() {
                var items = $('.sortable-item');
                items.find('a').removeClass('disabled');
                items.first().find('a.action-up').addClass('disabled');
                items.last().find('a.action-down').addClass('disabled');
            };

            // オーバレイ後, 表示順の更新を行う
            var moveSortNo = function() {
                $('body').append($('<div class="modal-backdrop show"></div>'));
                updateSortNo();
                redrawDisableAllows();
            };

            // Drag and Drop
            $(".sortable-container").sortable({
                items: '> .sortable-item',
                cursor: 'move',
                update: function(e, ui) {
                    moveSortNo();
                }
            });

            // Up
            $('.sortable-item').on('click', 'a.action-up', function(e) {
                e.preventDefault();
                var current = $(this).parents('li');

                if (current.prev().hasClass('sortable-item')) {
                    current.prev().before(current);
                    moveSortNo();
                }
            });

            // Down
            $('.sortable-item').on('click', 'a.action-down', function(e) {
                e.preventDefault();
                var current = $(this).parents('li');

                if (current.next().hasClass('sortable-item')) {
                    current.next().after(current);
                    moveSortNo();
                }
            });

            // 削除モーダルのhrefとmessageの変更
            $('#DeleteModal').on('shown.bs.modal', function(event) {
                var target = $(event.relatedTarget);
                // hrefの変更
                $(this).find('[data-method="delete"]').attr('href', target.data('url'));

                // messageの変更
                $(this).find('p.modal-message').text(target.data('message'));
            });


            // 新規登録セレクトボックスの内容保存
            var $cycle_unit = $('#cycle_cycle_unit');
            var $cycle_unit_html = $cycle_unit.html();

            // 新規登録のセレクトボックスが変更された場合
            $('#form1 #cycle_cycle_type').change(function() {
                setCycleUnit($(this), $cycle_unit, $cycle_unit_html);
            });

            // 各種編集のセレクトボックスが変更された場合
            $('form[id*="edit-form_"] #cycle_cycle_type').change(function() {

                // 選択したIDの周期項目を取得
                $edit_cycle_unit = $(this).closest('form').find('#cycle_cycle_unit');
                setCycleUnit($(this), $edit_cycle_unit, $cycle_unit_html);
            });

            // 編集ボタン
            $('.list-group-item a.edit-button').click(function() {
                var id = $(this).data('id');
                var li = $('#ex-cycle-' + id);

                // セレクトボックスを表示する前に周期項目を合わせる
                $edit_cycle_type = li.find('#cycle_cycle_type');
                $edit_cycle_unit = li.find('#cycle_cycle_unit');
                setCycleUnit($edit_cycle_type, $edit_cycle_unit, $cycle_unit_html);

                // 開く前に他項目を一旦閉じる
                $('.edit').hide();
                $('.list').show();

                $(li).find('.list').hide();
                $(li).find('.edit').show();
            });

            $('.list-group-item .cancel').click(function() {
                var id = $(this).data('id');
                var li = $('#ex-cycle-' + id);
                $(li).find('.edit').hide();
                $(li).find('.list').show();
            });
        });

        function setCycleUnit(cycle_cycle_type, cycle_unit, cycle_unit_html){
            var type_choice = cycle_cycle_type.val();
            var unit_choice = cycle_unit.val();

            $type = '';
            if (type_choice === '1') {
                $type = 'monthly';
            } else if (type_choice === '2') {
                $type = 'month';
            } else if (type_choice === '3') {
                $type = 'week';
            } else if (type_choice === '4') {
                $type = 'day';
            } else if (type_choice === '5') {
                $type = 'day_of_week'
            }

            cycle_unit.html(cycle_unit_html).find('option').each(function() {
                var view = $(this).data($type);
                if ($(this).val() !== '' && view === void 0) {
                    $(this).not('optgroup,.msg').remove();
                }
            });

            if (cycle_cycle_type.val() === '' || $type === 'day_of_week') {
                cycle_unit.attr('disabled', 'disabled');
            } else {
                cycle_unit.removeAttr('disabled');
                if (cycle_unit.has("option[value='"+unit_choice+"']").length > 0) {
                    cycle_unit.val(unit_choice);
                }
            }
        }
    </script>
{% endblock %}

{% block main %}
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div class="card rounded border-0 mb-4">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush sortable-container">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-1 text-center">
                                        <div class="row">
                                            <div class="col-auto offset-6">
                                                <strong>{{ 'ipl_periodic_purchase.admin.cycle.cycle_id.title'|trans }}</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2 text-center"><strong>{{ 'ipl_periodic_purchase.admin.cycle.type.title'|trans }}</strong></div>
                                    <div class="col-3 text-center"><strong>{{ 'ipl_periodic_purchase.admin.cycle.unit.title'|trans }}</strong></div>
                                </div>
                            </li>
                            <form name="form1" role="form" class="form-horizontal" id="form1" method="post" action="{{ url('periodic_admin_cycle') }}">
                                {{ form_widget(form._token) }}
                                <li class="list-group-item">
                                    <div class="row justify-content-around">
                                        <div class="col-2 offset-1"><strong>{{ form_widget(form.cycle_type) }}{{ form_errors(form.cycle_type) }}</strong></div>
                                        <div class="col-3"><strong>{{ form_widget(form.cycle_unit) }}{{ form_errors(form.cycle_unit) }}</strong></div>
                                        <div class="col">
                                            <div class="row justify-content-end">
                                                <button class="btn btn-ec-regular px-4" type="submit">{{ 'admin.common.create__new'|trans }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </form>
                            {% for Cycle in Cycles %}
                                <li id="ex-cycle-{{ Cycle.id }}" class="list-group-item sortable-item {% if errors[Cycle.id] %}has-error{% endif %}" data-id="{{ Cycle.id }}" data-sort-no="{{ Cycle.sortNo }}">
                                    <form name="edit-form" id="edit-form_{{ Cycle.id }}" method="post" action="{{ url('periodic_admin_cycle') }}">
                                        <input type="hidden" value="{{ Cycle.id }}" name="cycle_id">
                                        <input type="hidden" value="edit_inline" name="mode"/>
                                        <div class="row align-items-center">
                                            <div class="col-1">
                                                <div class="row">
                                                    <div class="col-6 px-0 ml-3">
                                                        <i class="fa fa-bars text-ec-gray"></i>
                                                    </div>
                                                    <div class="col-auto px-0">
                                                        {{ Cycle.id }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="edit">
                                                    {{ form_widget(forms[Cycle.id].cycle_type) }}{{ form_errors(forms[Cycle.id].cycle_type) }}
                                                </div>
                                                <div class="list">
                                                    {% set cycle_type_value = 'ipl_periodic_purchase.admin.cycle.type.'~Cycle.cycle_type %}
                                                    {{ cycle_type_value|trans }}
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="edit">
                                                    {{ form_widget(forms[Cycle.id].cycle_unit) }}{{ form_errors(forms[Cycle.id].cycle_unit) }}
                                                </div>
                                                <div class="list">
                                                    {% if Cycle.cycle_type != 5 %}
                                                        {% set cycle_unit_value = 'ipl_periodic_purchase.admin.cycle.unit.'~Cycle.cycle_type %}
                                                        {{ cycle_unit_value|trans({ "%unit%" : Cycle.cycle_unit }) }}
                                                    {% else %}
                                                        ----
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-6 text-right">
                                                <div class="input-group d-flex justify-content-end">
                                                    <div class="edit">
                                                        {{ form_widget(forms[Cycle.id]._token) }}
                                                        <button type="submit" class="btn btn-ec-conversion">{{ 'admin.common.decision'|trans }}</button>
                                                        <button type="button" class="btn btn-ec-sub cancel mr-3" data-id="{{ Cycle.id }}">{{ 'admin.common.cancel'|trans }}</button>
                                                    </div>
                                                    <a class="btn btn-ec-actionIcon mr-2 edit-button" data-tooltip="true" data-id="{{ Cycle.id }}" data-placement="top" title="{{ 'admin.common.edit'|trans }}">
                                                        <i class="fa fa-pencil fa-lg text-secondary" aria-hidden="true"></i>
                                                    </a>
                                                    <a class="btn btn-ec-actionIcon mr-2 action-up{{ loop.first ? ' disabled' }}" data-tooltip="true" data-placement="top" title="{{ 'admin.common.up'|trans }}">
                                                        <i class="fa fa-arrow-up fa-lg text-secondary"></i>
                                                    </a>
                                                    <a class="btn btn-ec-actionIcon mr-2 action-down{{ loop.last ? ' disabled' }}" data-tooltip="true" data-placement="top" title="{{ 'admin.common.down'|trans }}">
                                                        <i class="fa fa-arrow-down fa-lg text-secondary"></i>
                                                    </a>
                                                    <div class="d-inline-block mr-2" data-tooltip="true" data-placement="top"
                                                         title="{{ 'admin.common.delete'|trans }}">
                                                        <a class="btn btn-ec-actionIcon" data-toggle="modal" data-target="#DeleteModal"
                                                           data-url="{{ url('periodic_admin_cycle_delete', {'id' : Cycle.id}) }}"
                                                           data-message="{{ 'admin.common.delete_modal__message'|trans({ "%name%" : Cycle.id }) }}">
                                                            <i class="fa fa-close fa-lg text-secondary"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                        <!-- 削除モーダル -->
                        <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog"
                             aria-labelledby="DeleteModal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title font-weight-bold">
                                            {{ 'admin.common.delete_modal__title'|trans }}
                                        </h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-left">
                                        <p class="text-left modal-message"><!-- jsでメッセージを挿入 --></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-ec-sub" type="button" data-dismiss="modal">
                                            {{ 'admin.common.cancel'|trans }}
                                        </button>
                                        <a class="btn btn-ec-delete" href="#" {{ csrf_token_for_anchor() }}
                                           data-method="delete" data-confirm="false">
                                            {{ 'admin.common.delete'|trans }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p>{{ 'admin.common.drag_and_drop_description'|trans }}</p>
            </div>
        </div>
    </div>
{% endblock %}
