{#
RepeatCube for EC-CUBE4
Copyright(c) 2019 IPLOGIC CO.,LTD. All Rights Reserved.

http://www.iplogic.co.jp/

This program is not free software.
It applies to terms of service.
#}
<tr class="d-none">
    <td>
        {{ form_widget(productPeriodicItemForm.product_name) }}
        {{ form_widget(productPeriodicItemForm.ProductClass) }}
        {{ form_widget(productPeriodicItemForm.order_item_type) }}
        {{ form_widget(productPeriodicItemForm.price) }}
        {{ form_widget(productPeriodicItemForm.quantity) }}
    </td>
</tr>
