{#
/*
 * This file is part of the Flash Sale plugin
 *
 * Copyright(c) ECCUBE VN LAB. All Rights Reserved.
 *
 * https://www.facebook.com/groups/eccube.vn
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['product', 'flash_sales_admin'] %}

{% block title %}{{ 'flash_sale.admin.list.title'|trans }}{% endblock %}
{% block sub_title %}{{ 'flash_sale.admin.list.title.sub'|trans }}{% endblock %}

{% block stylesheet %}{% endblock stylesheet %}

{% block javascript %}{% endblock javascript %}

{% block main %}
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div class="d-block mb-3">
                    <a id="addNew" class="btn btn-ec-regular"
                       href="{{ url('flash_sale_admin_new') }}">{{ 'admin.common.create__new'|trans }}</a>
                </div>

                {% if pagination and pagination.totalItemCount %}
                    <form id="form_bulk" method="POST" action="">
                        <div class="card rounded border-0 mb-4">
                            <div class="card-body p-0">
                                <table class="table table-sm">
                                    <thead>
                                    <tr>
                                        <th class="border-top-0 pt-2 pb-2 text-center">{{ 'flash_sale.admin.list.id'|trans }}</th>
                                        <th class="border-top-0 pt-2 pb-2">{{ 'flash_sale.admin.list.title'|trans }}</th>
                                        <th class="border-top-0 pt-2 pb-2">{{ 'flash_sale.admin.list.description'|trans }}</th>
                                        <th class="border-top-0 pt-2 pb-2">{{ 'flash_sale.admin.list.time.start'|trans }}</th>
                                        <th class="border-top-0 pt-2 pb-2">{{ 'flash_sale.admin.list.time.end'|trans }}</th>
                                        <th class="border-top-0 pt-2 pb-2 text-nowrap">{{ 'flash_sale.admin.list.created.at'|trans }}</th>
                                        <th class="border-top-0 pt-2 pb-2 text-nowrap">{{ 'flash_sale.admin.list.updated.at'|trans }}</th>
                                        <th class="border-top-0 pt-2 pb-2">{{ 'flash_sale.admin.list.status'|trans }}</th>
                                        <th class="border-top-0 pt-2 pb-2 pr-3" colspan="3"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in pagination %}
                                        <tr id="ex-product-{{ item.id }}">
                                            <td class="align-middle text-center">{{ item.id }}</td>
                                            <td class="align-middle"><a
                                                        href="{{ url('flash_sale_admin_edit', { id : item.id }) }}">{{ item.name }}</a>
                                            </td>
                                            <td class="align-middle">
                                                {{ item.description }}
                                            </td>
                                            <td class="align-middle">
                                                {{ item.getFromTime|date_min }}
                                            </td>
                                            <td class="align-middle">
                                                {{ item.getToTime|date_min }}
                                            </td>
                                            <td class="align-middle">
                                                {{ item.getCreatedAt|date_min }}
                                            </td>
                                            <td class="align-middle">
                                                {{ item.getUpdatedAt|date_min }}
                                            </td>
                                            <td class="align-middle">
                                                {{ item.getStatusText|trans }}
                                            </td>
                                            <td class="align-middle pr-3" colspan="3">
                                                <div class="row">
                                                    <div class="col px-0 text-right">
                                                        <a class="btn btn-ec-actionIcon"
                                                           href="{{ url('flash_sale_admin_edit', {id: item.id}) }}"
                                                           data-toggle="tooltip" data-placement="top"
                                                           title="{{ 'admin.common.edit'|trans }}">
                                                            <i class="fa fa-pencil fa-lg text-secondary"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col pl-0 text-center" data-toggle="tooltip"
                                                         data-placement="top" title="{{ 'admin.common.delete'|trans }}">
                                                        <a class="btn btn-ec-actionIcon" data-toggle="modal"
                                                           data-target="#delete_{{ item.id }}">
                                                            <i class="fa fa-close fa-lg text-secondary"
                                                               aria-hidden="true"></i>
                                                        </a>
                                                        <div class="modal fade" id="delete_{{ item.id }}" tabindex="-1"
                                                             role="dialog"
                                                             aria-labelledby="delete_{{ item.id }}" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title font-weight-bold">{{ 'admin.common.delete_modal__title'|trans }}</h5>
                                                                        <button class="close" type="button"
                                                                                data-dismiss="modal"
                                                                                aria-label="Close"><span
                                                                                    aria-hidden="true">×</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body text-left">
                                                                        <p class="text-left">{{ 'admin.common.delete_modal__message'|trans({'%name%': item.name}) }}</p>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button class="btn btn-ec-sub" type="button"
                                                                                data-dismiss="modal">{{ 'admin.common.cancel'|trans }}</button>
                                                                        <a class="btn btn-ec-delete"
                                                                           href="{{ url('flash_sale_admin_delete', {id: item.id}) }}" {{ csrf_token_for_anchor() }}
                                                                           data-method="delete"
                                                                           data-confirm="false">{{ 'admin.common.delete'|trans }}</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>

                                {% if pagination.totalItemCount > 0 %}
                                    <div class="row justify-content-md-center mb-4">
                                        {% include "@admin/pager.twig" with { 'pages' : pagination.paginationData, 'routes' : 'flash_sale_admin_list_page' } %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                {% else %}
                    <div class="card rounded border-0">
                        <div class="card-body p-4">
                            <div class="text-center text-muted">{{ 'flash_sale.admin.list.null'|trans({'%link%' : url('flash_sale_admin_new') })|raw }}</div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <!-- 完全に削除の確認モーダル-->
            <div class="modal fade" id="bulkDeleteModal" tabindex="-1" role="dialog" aria-labelledby="discontinuance"
                 aria-hidden="true" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title font-weight-bold">{{ 'admin.product.permanently_delete__confirm_title'|trans }}</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body text-left">
                            <p class="text-left">{{ 'admin.product.permanently_delete__confirm_message'|trans }}</p>
                            <ul id="bulkErrors"></ul>
                            <div class="progress" style="display: none">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-ec-sub" type="button"
                                    data-dismiss="modal">{{ 'admin.common.cancel'|trans }}</button>
                            <button class="btn btn-ec-delete" type="button"
                                    id="bulkDelete">{{ 'admin.product.permanently_delete' | trans }}</button>
                            <button class="btn btn-ec-regular" id="bulkDeleteDone" style="display: none" type="button"
                                    data-dismiss="modal">{{ 'admin.product.permanently_delete__complete'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
