{#
RepeatCube for EC-CUBE4
Copyright(c) 2019 IPLOGIC CO.,LTD. All Rights Reserved.

http://www.iplogic.co.jp/

This program is not free software.
It applies to terms of service.
#}
<style type="text/css">
@media screen and (min-width: 769px){
    .phone_area{
        display: none;
    }
    #periodic_nav > ul > li{
        width: 25%;
    }
}
@media screen and (max-width: 768px){
    .phone_area{
        display: block;
        text-align: center;
        background: #F4F3F0;
        padding: 2px;
        margin-bottom: 16px;
    }
    #periodic_nav{
        display: none;
    }
    #periodic_nav > ul > li{
        width: 100%;
    }
    .img_div{
        display: inline-block;
        width: 20px;
        height: 20px;
    }
    #img_btn{
        margin-bottom: 5px;
    }
}
</style>

<script>
    //サブエリアの表示/非表示
    var speed = 500;
    var stateReview = 0;
    function fnReviewToggle(areaEl, imgEl) {
        areaEl.slideToggle(speed);
        if (stateReview == 0) {
            $(imgEl).attr("src", "{{ asset('assets/icon/minus-dark.svg') }}");
            stateReview = 1;
        } else {
            $(imgEl).attr("src", "{{ asset('assets/icon/plus-dark.svg') }}");
            stateReview = 0
        }
    }
</script>

<div class="ec-mypageRole">
<div class="phone_area" onclick="fnReviewToggle($('#periodic_nav'), '#img_btn');">
    <h4>
        定期受注情報変更メニュー
        <div class="img_div">
            <img id="img_btn" src="{{ asset('assets/icon/plus-dark.svg') }}" alt="increase">
        </div>
    </h4>
</div>
<div class="ec-navlistRole" id="periodic_nav">
    <ul class="ec-navlistRole__navlist" style="flex-wrap: wrap;">
        {% if arrChangeAllow.cycle %}
            <li class="ec-navlistRole__item {% if periodic_mypageno|default('') == 'cycle' %}active{% endif %}">
                <a href="{{ url('ipl_periodic_purchase_cycle', {'periodic_purchase_id': PeriodicPurchase.id}) }}">{{ 'お届け頻度変更'|trans }}</a>
            </li>
        {% endif %}
        {% if arrChangeAllow.next_shipping %}
            <li class="ec-navlistRole__item {% if periodic_mypageno|default('') == 'shipping_date' %}active{% endif %}">
                <a href="{{ url('ipl_periodic_purchase_next_shipping', {'periodic_purchase_id': PeriodicPurchase.id}) }}">{{ '次回お届け予定日変更'|trans }}</a>
            </li>
        {% endif %}
        {% if arrChangeAllow.shipping %}
            <li class="ec-navlistRole__item {% if periodic_mypageno|default('') == 'shipping' %}active{% endif %}">
                <a href="{{ url('ipl_periodic_purchase_shipping', {'periodic_purchase_id': PeriodicPurchase.id}) }}">{{ 'お届け先変更'|trans }}</a>
            </li>
        {% endif %}
        {% if arrChangeAllow.products %}
            <li class="ec-navlistRole__item {% if periodic_mypageno|default('') == 'products' %}active{% endif %}">
                <a href="{{ url('ipl_periodic_purchase_products', {'periodic_purchase_id': PeriodicPurchase.id}) }}">{{ 'お届け商品数変更'|trans }}</a>
            </li>
        {% endif %}
        {% if arrChangeAllow.skip %}
            <li class="ec-navlistRole__item {% if periodic_mypageno|default('') == 'skip' %}active{% endif %}">
                <a href="{{ url('ipl_periodic_purchase_skip', {'periodic_purchase_id': PeriodicPurchase.id}) }}">{{ 'スキップ'|trans }}</a>
            </li>
        {% endif %}
        {% if arrChangeAllow.suspend %}
            <li class="ec-navlistRole__item {% if periodic_mypageno|default('') == 'suspend' %}active{% endif %}">
                <a href="{{ url('ipl_periodic_purchase_suspend', {'periodic_purchase_id': PeriodicPurchase.id}) }}">{{ '休止'|trans }}</a>
            </li>
        {% endif %}
        {% if arrChangeAllow.resume %}
            <li class="ec-navlistRole__item {% if periodic_mypageno|default('') == 'resume' %}active{% endif %}">
                <a href="{{ url('ipl_periodic_purchase_resume', {'periodic_purchase_id': PeriodicPurchase.id}) }}">{{ '再開'|trans }}</a>
            </li>
        {% endif %}
        {% if arrChangeAllow.cancel %}
            <li class="ec-navlistRole__item {% if periodic_mypageno|default('') == 'cancel' %}active{% endif %}">
                <a href="{{ url('ipl_periodic_purchase_cancel', {'periodic_purchase_id': PeriodicPurchase.id}) }}">{{ '解約'|trans }}</a>
            </li>
        {% endif %}
    </ul>
</div>
</div>
